<br />
<img src="~/images/adminarea1.png" style="width:200px"/>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área dos Moderadores</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-dark">Voltar para o início</a>
</div>